

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="/">GastroIntestinal Events</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./events">My Events</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="./about">About</a>
      </li>
      </ul>
      <div>
        <!-- <a class="nav-link btn-md btn-primary mr-sm-2" id="login" href="/login">Login or Register</a> -->
        <a class="nav-link btn-md btn-primary mr-sm-2" id="login" href="/auth/logout">Logout</a>


      
    </div>
  </nav>